<!-- <h1>Hi, <%#= current_user.first_name if current_user %></h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p>
	<h1>Blog Posts</h1> -->
	<%#= @posts.inspect %>

	<!-- <h1>Skill Posts</h1> -->
	<%#= @skills.inspect %>
	<!-- <p><%#= current_user.class %></p> -->

	<!-- <hr> -->
	<%#= sample_helper %>

	<%#= content_tag :p, class: "my-special-class" do %> <!-- sama dengan <p class="my-special-class">Hi saya adalah paragraph</p> -->
<!-- Hi saya adalah paragraph
-->
<%# end %>

<%#= sample_paragraf %>

<!-- DIATAS SCRIPT DEBUG DAN SCRIPT SEBELUMNYA SEBELUM PART 124-->

<div class="inner cover">
	<h1 class="cover-heading">Cover your page.</h1>
	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
	<p class="lead">
		<%= link_to	"About Me", about_path, class: "btn btn-lg btn-secondary" %>
	</p>
</div>


